<div class="">
    <div class="p-3" style="min-height: 402px;">
        <!-- Cartas -->
        <div class="d-flex justify-content-center align-items-start gap-3">
            <!-- deck -->
            <div class="flex-column justify-content-center align-items-start gap-5 p-3 flex-wrap pt-3 border rounded"
                style="min-height: 650px;">
                <img [src]="'deck'+selectedBack" alt="reverso" class="p-0 mb-2" style="width: 172px; height: 248px;" role="button"
                    (click)="getAvailableCards()"/>
                @for (card of availableCards; track $index) {
                <div class="animated-card" style="height: 50px;">
                    <app-card [card]="card" [cardSize]="'small'"/>
                </div>
                }
            </div>

            <!-- in-game cards -->
            <div class="d-flex gap-3 p-3 justify-content-start border rounded" style="min-height: 650px; min-width: 1264px;">
                @for (pila of pilasCartas; track $index) {
                <div class="d-block border h-100" style="min-height: 234px; width: 158px;" role="button" (click)="moveCard(pila)">
                    @for (card of pila; track $index) {
                    <div class="animated-card" style="height: 50px;" role="button">
                        <app-card [card]="card" [cardSize]="'small'"/>
                    </div>
                    }
                </div>
                }
            </div>

            <!-- deck -->
            <div class="d-flex justify-content-center align-items-start p-3 flex-wrap pt-3 border"
                style="min-height: 650px; min-width: 206px;">
                    @if (selectedCard) {
                        <app-card [card]="selectedCard" [cardSize]="'small'"/>
                    }
            </div>

        </div>

    </div>



</div>