<div class="min-vh-100">
    <div class="container p-3" style="min-height: 402px;">
        
        <div class="d-flex justify-content-center align-items-end gap-3">
            <img [src]="'back'+selectedBack" alt="reverso" class="p-0" style="width: 210px; height: 312px;" [class.d-none]="getHandValue() > 21">
            <app-card [card]="hiddenCard!" [class.d-none]="getHandValue() <= 21" />
            <img [src]="'deck'+selectedBack" alt="reverso" class="p-0" style="width: 224px; height: 326px;">
        </div>
        
    </div>
    
    
    <!-- Mano del jugador -->
    <div class="container p-3 border border-2 bg-secondary" style="min-height: 402px;">
        <div class="row gap-2 mb-2">
            <button class="btn btn-danger col" (click)="drawCard()">Quedarse</button>
            <button class="btn btn-success col" (click)="drawCard()">Levantar carta</button>
        </div>

        <div class="d-flex justify-content-center gap-4 flex-wrap">
            @for (card of userHand; track $index) {
            <div class="">
                <app-card [card]="card" />
            </div>
            }
        </div>
    </div>
</div>